.admin-staff-view-color{
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 40px;
}
.student-view-head{
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 2%;
    margin-top: -2%;
}
.staff-home-back-btn{
    padding-top: 10px;
    padding-left: 10px;
}














