@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box}

body{
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
}

.container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  background-color: white;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 200px;
        transform-origin: -200px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#e46569;}
  &:after{transform:rotate(135deg);background:#ecaf81;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#60b8d4;}
  &:after{transform:rotate(-135deg);background:#3745b5;}
}

.center{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
  
  
}




#student-head{
    font-size: 35px;
    color: red;
    padding-bottom: 10px;
    font-weight: bolder;
}
#student-login{
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
}
.student-name{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 59px;
  margin-bottom: 10px;
}
.student-date{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 100px;
    margin-bottom: 10px;
}
.student-name-div{
  position: relative;
}
.student-name-div input{
  padding-left: 30px;
}
.student-name-div i{
  position: absolute;
  left: 10px;
  top: 20%;
  margin-left: 5px;
  transform: translate(-50%);
  margin-top: 1px;
}
.student-pass-div{
  position: relative;
}
.student-pass-div input{
  padding-left: 30px;
}
.student-pass-div i{
  position: absolute;
  left: 10px;
  top: 20%;
  margin-left: 5px;
  transform: translate(-50%);
  margin-top: 1px;
}
#student-btn{
  padding: 8px 106px;
  background-color: #60b8d4;
  border: 2px solid transparent;
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
}
#student-btn:hover{
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.8s;
  border: 2px solid gray;
}
.student-back i{
  font-size: 28px;
  color: black;
}